body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.265rem;
  margin:50px auto 0 auto ;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  color:  #66BFBF;

}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

hr{
  border: dotted #66BFBF 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.50rem;
  color:  #66BFBF;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.footer-link{
  color: #2596be;
  margin: 10px 20px;

}
.top-container {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #ffffff;

}

.bottom-container {
  background-color: powderblue;
  padding: 50px 0px 20px;



}

.bro{
  padding-top: 50px;
  font-size: 70%;
}



.bottom-cloud {
  position: absolute;
  left: 170px;
  bottom: 380px;

}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
  padding-top: 110px;

}

/*.Yo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/



.Mount{
  padding-top:  50px;
  vertical-align: middle;



}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.sci{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.profile{
  width: 25%;
  float: right;
  margin-left: 30px;
  border-bottom: 10px
}

@media only screen and (max-width: 992px) {
  .top-cloud {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .bottom-cloud {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .btn {
    font-size: 90%;

  }
}

@media only screen and (max-width: 992px) {
  .bottom-container {
    font-size: 72.5%;

  }
}


@media only screen and (max-width: 992px) {
  .fal fa-envelope {
    display: none;
  }
}


.padd{
  padding-top: 40px;

}

.btn {

  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
  background-image: -o-linear-gradient(top, #11CDD4, #11999e);
  background-image: linear-gradient(to bottom, #11CDD4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 100%;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.hi{
  padding-bottom: 40px;
  padding-top: 40px;
}
